*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#080808;
font-family:Segoe UI,sans-serif;
color:white;
text-align:center;
overflow:hidden;
}

.background{
position:fixed;
inset:0;
background:
radial-gradient(circle at top,
rgba(0,255,136,.15),
transparent 50%);
z-index:-1;
}

.logo{
font-size:90px;
margin-top:20px;
font-weight:bold;
}

.g{color:#4285F4;}
.l{color:#EA4335;}
.a{color:#FBBC05;}

.x{
color:#00ff88;
text-shadow:
0 0 10px #00ff88,
0 0 20px #00ff88,
0 0 40px #00ff88;
}

.s{
color:#34A853;
}

.subtitle{
color:#00ff88;
font-size:22px;
margin-bottom:20px;
}

.card{
width:95%;
max-width:1200px;
margin:auto;
background:#111;
border:2px solid #00ff88;
border-radius:20px;
padding:15px;
box-shadow:
0 0 20px rgba(0,255,136,.4);
position:relative;
}

.ui{
display:flex;
justify-content:space-around;
font-size:22px;
color:#00ff88;
margin-bottom:10px;
}

#game{
width:100%;
height:600px;
background:#050505;
border-radius:15px;
}

#gameover{
display:none;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#111;
padding:30px;
border:2px solid red;
border-radius:20px;
}

button{
padding:12px 25px;
margin-top:15px;
font-size:18px;
cursor:pointer;
}
